extends layout 

block content
    div.grid-container
        each list in lists
            div.grid-item.bg-light.course-item
                i.bi.bi-list-task
                a(href=`${list.id}`) 
                    p= list.name
                i(onclick=`renameList(${list.id})`).bi.bi-pencil-square.btn
                    
                i(onclick=`deleteList(${list.id})`).bi.bi-trash3.btn
                    

        else
            p Vous n'avez pas encore de listes.
        a.btn.btn-primary(href="/new") Create a new list


    script.
        async function renameList(listId) {
            const newTitle = prompt('Nouveau titre pour la liste :');
            if (newTitle) {
                try {
                    await fetch(`/${listId}`, {  
                        method: 'PATCH',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ name: newTitle })
                    });
                    location.reload();
                } catch (error) {
                    console.error('Error renaming list:', error);
                }
            }
        }

        async function deleteList(listId) {
            if (confirm('Voulez-vous vraiment supprimer cette tâche ?')) {
                try {
                    await fetch(`/${listId}/delete`, { method: 'DELETE' });
                    location.reload();
                } catch (error) {
                    console.error('Error deleting list:', error);
                }
            }
        }